<page-header [title]="'个人信息'">
  按照国家相关规定，用户必须实名制，并且平台要求用户认证才能进行后续相关操作。
</page-header>

<form nz-form #f="ngForm" se-container size="compact" gutter="24">
   <se-title>用户信息</se-title>
   <se label="用户姓名" col="3">付小小</se>
   <se label="联系电话" col="3">付小小</se>
   <se label="角色" col="3">项目经理</se>
   <se label="信用度" col="3"><p class="text-red">30</p></se>
   <se label="能力星级" col="3">3星</se>
   <se label="推荐人" required col="3">
      <nz-select [(ngModel)]="q.user" name="user" nzAllowClear nzPlaceHolder="不限">
      </nz-select>
    </se>
</form>

<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()" [nzLayout]="'vertical'">
  <nz-card [nzBordered]="false" nzTitle="个人简介">
      <nz-form-item>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <textarea nz-input formControlName="name" [nzAutosize]="{minRows: 4}" placeholder="请输入你的个人简介"></textarea>
          <nz-form-explain *ngIf="form.get('name').dirty && form.get('name').errors">请输入你的个人简介</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
  </nz-card>
  <nz-card [nzBordered]="false" nzTitle="职业履历">
    <nz-table formArrayName="items" [nzData]="items.value" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>公司名称</th>
          <th>职位</th>
          <th>下属人数</th>
          <th>开始日期</th>
          <th>结束日期</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
          <td>
            <span *ngIf="editIndex!==i">{{items.value[i].name}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <input nz-input formControlName="name" placeholder="请输入公司名称">
            </span>
          </td>
          <td>
            <span *ngIf="editIndex!==i">{{items.value[i].workId}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <input nz-input formControlName="workId" placeholder="请输入职位">
            </span>
          </td>
          <td>
            <span *ngIf="editIndex!==i">{{items.value[i].department}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <input nz-input formControlName="department" placeholder="请输入下属人数">
            </span>
          </td>
          <td>
            <span *ngIf="editIndex!==i">{{items.value[i].department}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <input nz-input formControlName="department" placeholder="请输入开始日期">
            </span>
          </td>
          <td>
            <span *ngIf="editIndex!==i">{{items.value[i].department}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <input nz-input formControlName="department" placeholder="请输入结束日期">
            </span>
          </td>
          <td>
            <span *ngIf="editIndex!==i">
              <a (click)="edit(i)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <nz-popconfirm (nzOnConfirm)="del(i)" [nzTitle]="'是否要删除此行？'">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
            </span>
            <span *ngIf="editIndex===i">
              <a (click)="save(i)">保存</a>
              <nz-divider nzType="vertical"></nz-divider>
              <nz-popconfirm (nzOnConfirm)="cancel(i)" [nzTitle]="'是否要取消操作？'">
                <a nz-popconfirm>取消</a>
              </nz-popconfirm>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <button *ngIf="editIndex===-1" nz-button [nzType]="'dashed'" (click)="add()" class="ant-btn__block mt-md">
      <i class="anticon anticon-plus"></i>
      <span>新增履历</span>
    </button>
  </nz-card>
  <nz-card [nzBordered]="false" nzTitle="学习经历">
    <nz-table formArrayName="items" [nzData]="items.value" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>学校名称</th>
          <th>学位</th>
          <th>专业</th>
          <th>开始日期</th>
          <th>结束日期</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
          <td>
            <span *ngIf="editIndex!==i">{{items.value[i].name}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <input nz-input formControlName="name" placeholder="请输入学校名称">
            </span>
          </td>
          <td>
            <span *ngIf="editIndex!==i">{{items.value[i].workId}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <input nz-input formControlName="workId" placeholder="请输入学位">
            </span>
          </td>
          <td>
            <span *ngIf="editIndex!==i">{{items.value[i].department}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <input nz-input formControlName="department" placeholder="请输入专业">
            </span>
          </td>
          <td>
            <span *ngIf="editIndex!==i">{{items.value[i].department}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <input nz-input formControlName="department" placeholder="请输入开始日期">
            </span>
          </td>
          <td>
            <span *ngIf="editIndex!==i">{{items.value[i].department}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <input nz-input formControlName="department" placeholder="请输入结束日期">
            </span>
          </td>
          <td>
            <span *ngIf="editIndex!==i">
              <a (click)="edit(i)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <nz-popconfirm (nzOnConfirm)="del(i)" [nzTitle]="'是否要删除此行？'">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
            </span>
            <span *ngIf="editIndex===i">
              <a (click)="save(i)">保存</a>
              <nz-divider nzType="vertical"></nz-divider>
              <nz-popconfirm (nzOnConfirm)="cancel(i)" [nzTitle]="'是否要取消操作？'">
                <a nz-popconfirm>取消</a>
              </nz-popconfirm>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <button *ngIf="editIndex===-1" nz-button [nzType]="'dashed'" (click)="add()" class="ant-btn__block mt-md">
      <i class="anticon anticon-plus"></i>
      <span>新增履历</span>
    </button>
  </nz-card>
  <footer-toolbar errorCollect>
    <button nz-button type="primary" nzType="primary">提交</button>
  </footer-toolbar>
</form>

<nz-card [nzBordered]="false">
  <nz-card-tab>
    <nz-tabset nzSize="large" (nzSelectChange)="change($event)">
      <nz-tab nzTitle="系统日志"></nz-tab>
      <nz-tab nzTitle="个人收益"></nz-tab>
      <nz-tab nzTitle="项目公告"></nz-tab>
    </nz-tabset>
  </nz-card-tab>
  <st [columns]="opColumns" [data]="list">
    <ng-template st-row="status" let-i>
      <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
      <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
    </ng-template>
  </st>
</nz-card>