<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()" se-container="1" labelWidth="100">
    <se label="默认角色" extra="请选择适合自己的默认角色">
      <nz-radio-group formControlName="defaultRoleId">
        <label *ngFor="let role of rolesData" nz-radio [nzValue]="role.id">{{role.name}}</label>
      </nz-radio-group>
    </se>
    <!--<se *ngIf="form.value.defaultRoleId === 1" label="投资领域">
        <nz-select formControlName="investType" [nzShowSearch]="true" [nzPlaceHolder]="'目前投资哪些领域'">
            <nz-option [nzLabel]="'互联网'" [nzValue]="'private'"></nz-option>
            <nz-option [nzLabel]="'实体'" [nzValue]="'public'"></nz-option>
        </nz-select>
    </se>
    <se *ngIf="form.value.defaultRoleId === 1" label="可承受损失比例">
        <nz-select formControlName="losePercent" [nzShowSearch]="true" [nzPlaceHolder]="'可承受损失比例'">
            <nz-option [nzLabel]="'1~4%'" [nzValue]="'1'"></nz-option>
            <nz-option [nzLabel]="'5~9%'" [nzValue]="'5'"></nz-option>
            <nz-option [nzLabel]="'10%以上'" [nzValue]="'10'"></nz-option>
        </nz-select>
    </se>
    <se *ngIf="form.value.defaultRoleId === 2" label="架构技术方向">
        <nz-select formControlName="tecType" [nzShowSearch]="true" [nzPlaceHolder]="'架构技术方向'">
            <nz-option [nzLabel]="'大数据'" [nzValue]="'大数据'"></nz-option>
            <nz-option [nzLabel]="'人工智能'" [nzValue]="'人工智能'"></nz-option>
            <nz-option [nzLabel]="'互联网'" [nzValue]="'互联网'"></nz-option>
            <nz-option [nzLabel]="'物联网'" [nzValue]="'互联网'"></nz-option>
        </nz-select>
    </se>-->
    <se>
        <button nz-button (click)="prev()">上一步</button>
        <button nz-button [nzType]="'primary'" [nzLoading]="loading" [disabled]="form.invalid">下一步</button>
    </se>
</form>
