<div class="modal-header">
  <div class="modal-title">添加任务</div>
</div>
<form [formGroup]="taskForm" (ngSubmit)="save()" nz-form>
    <nz-form-item class="mb-sm">
        <nz-form-label [nzSpan]="4" nzRequired>编号</nz-form-label>
        <nz-form-control [nzSpan]="20" >
            <input nz-input  formControlName="code" required />
            <nz-form-explain *ngIf="taskForm.get('code').dirty && taskForm.get('code').hasError('required')">请输入编号!
              </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">项目版本</nz-form-label>
    <nz-form-control nzSpan="8">
      <nz-select formControlName="projectVersionId" [nzShowSearch]="true" [nzPlaceHolder]="'版本'">
        <nz-option *ngFor="let v of prjVersions" [nzLabel]="v.versionName" [nzValue]="v.id">
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label nzSpan="4">模块</nz-form-label>
      <nz-form-control nzSpan="8">
        <nz-select formControlName="projectModuleId" [nzShowSearch]="true" [nzPlaceHolder]="'模块'">
        <nz-option *ngFor="let m of prjModules" [nzLabel]="m.name" [nzValue]="m.id">
        </nz-option>
      </nz-select>
      </nz-form-control>
  </nz-form-item>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">需求</nz-form-label>
    <nz-form-control nzSpan="8">
      <project-requirement-lookup [prjId]="inputPara?.projectMainDto?.id" formControlName="projectRequirementId"></project-requirement-lookup>
    </nz-form-control>
     <nz-form-label nzSpan="4">标题</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input  formControlName="name" required />
      </nz-form-control> 
  </nz-form-item>
  <nz-form-item class="mb-sm">
      <nz-form-label nzSpan="4">任务处理人</nz-form-label>
      <nz-form-control nzSpan="8" >
        <nz-select formControlName="ownerId" [nzShowSearch]="true" [nzPlaceHolder]="'任务处理人'">
         <nz-option *ngFor="let r of inputPara?.projectMainRoleListDto" [nzLabel]="r.partnerName" [nzValue]="r.partnerId">
          </nz-option>
        </nz-select>
      </nz-form-control>
      <nz-form-label nzSpan="4">父级任务</nz-form-label>
      <nz-form-control nzSpan="8">
        <nz-select formControlName="parentProjectTaskId" style="width: 100%;" (nzOpenChange)="loadTasks($event)" nzPlaceHolder="Select users" nzAllowClear>
          <nz-option *ngFor="let t of tasks" [nzValue]="t.id" [nzLabel]="t.name"></nz-option>
          <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
            <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
          </nz-option>
        </nz-select>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">计划完成时间</nz-form-label>
    <nz-form-control nzSpan="8">
        <nz-date-picker
        formControlName="planFinishTime"
        nzShowTime
        nzFormat="yyyy-MM-dd HH:mm:ss"
        nzPlaceHolder="Select Time"
        (ngModelChange)="onPlanTimeChange($event)"
        (nzOnOk)="onPlanTimeOk($event)"></nz-date-picker>
    </nz-form-control>
    <nz-form-label nzSpan="4">工分</nz-form-label>
    <nz-form-control nzSpan="8">
      <input nz-input type="number" formControlName="gongfen" required />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">是否定额</nz-form-label>
    <nz-form-control nzSpan="8">
      <label nz-checkbox formControlName="isFix">是否定额</label>
    </nz-form-control>
    <nz-form-label nzSpan="4">定额价格</nz-form-label>
    <nz-form-control nzSpan="8" >
      <input nz-input type="number" formControlName="fixUnitRate" required />
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item class="mb-sm">
      <nz-form-label [nzSpan]="4" nzRequired>详细</nz-form-label>
      <nz-form-control [nzSpan]="20" >
        <textarea nz-input rows="2" formControlName="remarks" placeholder="任务详情"></textarea>
      </nz-form-control>
  </nz-form-item>

  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button [disabled]="!taskForm.valid || !taskForm.dirty" [nzType]="'primary'">保存</button>
  </div>
</form>
