<div class="example-input">
    <nz-input-group [nzSuffix]="suffixIcon">
      <input placeholder="input here" nz-input [(ngModel)]="inputValue" (ngModelChange)="onChange($event)" [nzAutocomplete]="auto"/>
    </nz-input-group>
    <ng-template #suffixIcon>
      <i nz-icon type="search"></i>
    </ng-template>
    <nz-autocomplete #auto>
      <nz-auto-optgroup *ngFor="let group of data" [nzLabel]="groupTitle">
        <ng-template #groupTitle>
          <span>{{group?.name}}
          </span>
        </ng-template>
        <nz-auto-option *ngFor="let option of group.children" [nzLabel]="option.name" [nzValue]="option">
          {{option.name}}
        </nz-auto-option>
      </nz-auto-optgroup>
    </nz-autocomplete>
  </div>