<div class="modal-header">
  <div class="modal-title">任务处理</div>
</div>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event, validateForm.value)">
  <input [hidden]="true" nz-input formControlName="taskId" [ngModel]="inputPara.id">
  <input [hidden]="true" nz-input formControlName="handleUserId" [ngModel]="inputPara.ownerId" >
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">项目</nz-form-label>
    <nz-form-control nzSpan="8">
     <label>{{inputPara.projectName}}</label>
    </nz-form-control>
    <nz-form-label nzSpan="4">完成奖励</nz-form-label>
    <nz-form-control nzSpan="8">
     <label>￥{{inputPara.fixUnitRate}}元/{{inputPara.gongfen}}工分</label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">编号</nz-form-label>
    <nz-form-control nzSpan="8">
     <label>{{inputPara.code}}</label>
    </nz-form-control>
    <nz-form-label nzSpan="4">标题</nz-form-label>
    <nz-form-control nzSpan="8">
     <label>{{inputPara.name}}</label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">模块</nz-form-label>
    <nz-form-control nzSpan="8">
     <label>{{inputPara.projectModule}}</label>
    </nz-form-control>
    <nz-form-label nzSpan="4">项目需求</nz-form-label>
    <nz-form-control nzSpan="8">
     <label>{{inputPara.projectRequirement}}</label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">派发时间</nz-form-label>
    <nz-form-control nzSpan="8">
     <label>{{inputPara.sendTime | _date}}</label>
    </nz-form-control>
     <nz-form-label nzSpan="4">任务状态</nz-form-label>
    <nz-form-control nzSpan="8">
     <label>{{inputPara.projectTaskStatus}}</label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">关联版本</nz-form-label>
    <nz-form-control nzSpan="8">
     <label>{{inputPara.projectVersion}}</label>
    </nz-form-control>
    <nz-form-label nzSpan="4">剩余时间</nz-form-label>
    <nz-form-control nzSpan="8">
     <label *ngIf="inputPara.taskLeftTimeSpan > 12" class="radius-sp font-color-success">{{inputPara.taskLeftTimeSpan.toFixed(2)}}小时</label>
     <label *ngIf="inputPara.taskLeftTimeSpan <= 12 && inputPara.taskLeftTimeSpan >= 4" class="radius-sp font-color-warning">{{inputPara.taskLeftTimeSpan.toFixed(2)}}小时</label>
     <label *ngIf="inputPara.taskLeftTimeSpan < 4" class="radius-sp font-color-error">{{inputPara.taskLeftTimeSpan.toFixed(2)}}小时</label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">任务处理人</nz-form-label>
    <nz-form-control nzSpan="8">
      <nz-select formControlName="handleUserId">
        <nz-option *ngFor="let it of roleList" [nzLabel]="it.partnerName" [nzValue]="it.partnerId"></nz-option>
      </nz-select>
    </nz-form-control>

    <nz-form-label nzSpan="4">Bug数量</nz-form-label>
    <nz-form-control nzSpan="8">
     <label>5(未知字段)</label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">任务详情</nz-form-label>
    <nz-form-control nzSpan="20">
     <textarea formControlName="remarks" [ngModel]="inputPara.remarks" nz-input></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzSpan="4">关联图相</nz-form-label>
    <nz-form-control nzSpan="8">
     <label>关联图相(未知字段)</label>
    </nz-form-control>
  </nz-form-item>

  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button [disabled]="!validateForm.valid || !validateForm.dirty" [nzType]="'primary'">保存</button>
  </div>
</form>

