<form nz-form [formGroup]="schoolForm" se-container="1" labelWidth="100">
    <se label="学历" extra="学历不重要，能力才重要" required>
      <nz-radio-group formControlName="degree" error="请选择最高学历">
        <label nz-radio [nzValue]="1">大专</label>
        <label nz-radio [nzValue]="2">本科</label>
        <label nz-radio [nzValue]="3">硕士</label>
        <label nz-radio [nzValue]="4">博士</label>
      </nz-radio-group>
    </se>
    <se label="学校" error="请填写学校名称" extra="填写最高学历学校" required>
      <input nz-input formControlName="schoolName">
    </se>
    <se label="专业" error="请输入所学专业" required>
      <input nz-input formControlName="major">
    </se>
    <se label="在校日期" error="请选择在校日期" required>
      <nz-range-picker formControlName="rangeTime"></nz-range-picker>
    </se>
</form>

<form nz-form [formGroup]="companyForm" (ngSubmit)="_submitForm()" se-container="1" labelWidth="100">
    <se label="公司" extra="填写最近就职公司" required>
      <input nz-input formControlName="companyName">
    </se>
    <se label="职位" required>
      <input nz-input formControlName="teamRole">
    </se>
    <se label="在职日期" required>
      <nz-range-picker formControlName="rangeTime"></nz-range-picker>
    </se>
    <se>
        <button nz-button (click)="prev()">上一步</button>
        <button nz-button [nzType]="'primary'" [nzLoading]="loading" [disabled]="schoolForm.invalid || companyForm.invalid">下一步</button>
    </se>
</form>
