<nz-card [nzBordered]="false">
  <form nz-form se-container="1" size="compact" gutter="32" [labelWidth]="null">
    <se label="所属类目" line>
      <tag-select>
        <nz-tag nzMode="checkable" [nzChecked]="all" (nzCheckedChange)="changeCategory($event, -1)">全部</nz-tag>
        <nz-tag *ngFor="let i of categories; let idx = index" [nzChecked]="singleCate[idx]" nzMode="checkable" (nzCheckedChange)="changeCategory($event, idx)">
          {{i.name}}
        </nz-tag>
      </tag-select>
    </se>

    <se label="其它选项">
      <div class="ant-form ant-form-inline" nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item nzFlex>
            <nz-form-label nzFor="rate" [nzSpan]="4">状态</nz-form-label>
            <nz-form-control [nzSpan]="10">
              <ng-select2 (projectStatusId)="changeStatusId($event)" [innerValue]="query.projectStatusId"></ng-select2>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item nzFlex>
            <nz-form-label nzFor="rate" [nzSpan]="4">项目阶段</nz-form-label>
            <nz-form-control [nzSpan]="10">
              <ng-select4 (projectStageId)="changeStageId($event)" [innerValue]="query.projectStageId"></ng-select4>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </se>
  </form>
</nz-card>

<!-- 项目列表 -->
<nz-list [nzLoading]="loading" [nzRenderItem]="item" [nzDataSource]="list" [nzGrid]="{gutter: 24, lg: 6, md: 8, sm: 12, xs: 24 }">
  <ng-template #item let-item>
    <nz-list-item>
      <nz-card nzHoverable [nzCover]="cover" [routerLink]="['/task/project/projectdetail', item.id]">
        <ng-template #cover>
          <img alt="" src="{{item.logo}}">
        </ng-template>

        <nz-card-meta [nzTitle]="nzTitle" [nzDescription]="item.remarks">
          <ng-template #nzTitle>
            <a [routerLink]="['/task/project/projectdetail', item.id]">{{item.name}}</a>
          </ng-template>
        </nz-card-meta>
        <div class="card-item-content" style="margin-top: 6px;">
          <span class="text-grey">项目时间：{{item.startTime | date: 'yyyy-MM-dd'}}~{{item.endTime | date: 'yyyy-MM-dd'}}</span>
          <!--<avatar-list size="mini">-->
            <!--<avatar-list-item *ngFor="let m of item.members" [src]="m.avatar" [tips]="m.name"></avatar-list-item>-->
          <!--</avatar-list>-->
        </div>
      </nz-card>
    </nz-list-item>
  </ng-template>
</nz-list>

<div class="list-page">
  <nz-pagination [nzPageIndex]="pagination.pi" [nzPageSize]="pagination.ps" [nzTotal]="pagination.total" (nzPageIndexChange)="onChangePage($event)"></nz-pagination>
</div>

