<div class="modal-header">
  <div class="modal-title">添加服务地址</div>
</div>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>address</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="address" placeholder="address">
      <nz-form-explain *ngIf="validateForm.get('address').dirty && validateForm.get('address').hasError('required')">
        Please input your address!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
<nz-form-item>
  <nz-form-label [nzSpan]="7" nzRequired>服务地址类型</nz-form-label>
  <nz-form-control [nzSpan]="12" nzHasFeedback>
    <nz-select formControlName="projectServiceAddressTypeId" nzAllowClear nzPlaceHolder="Choose">
        <nz-option *ngFor="let t of types" [nzLabel]="t.name" [nzValue]="t.id"></nz-option>
      </nz-select>
   <nz-form-explain *ngIf="validateForm.get('projectServiceAddressTypeId').dirty && validateForm.get('projectServiceAddressTypeId').hasError('required')">
    请输入服务地址类型!
  </nz-form-explain>
</nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label [nzSpan]="7" nzRequired>Remarks</nz-form-label>
  <nz-form-control [nzSpan]="12" nzHasFeedback>
   <textarea formControlName="remarks" nz-input rows="2" placeholder="Remarks"></textarea>
   <nz-form-explain *ngIf="validateForm.get('remarks').dirty && validateForm.get('remarks').hasError('required')">
    Please input your remarks!
  </nz-form-explain>
</nz-form-control>
</nz-form-item>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button [disabled]="!validateForm.valid || !validateForm.dirty" [nzType]="'primary'">保存</button>
</div>
</form>
