<page-header [title]="projectDetail?.projectMainDto?.code">
  <ng-template #logo>
    <img src="https://gw.alipayobjects.com/zos/rmsportal/nxkuOJlFJuAUhzlMTCEe.png">??
  </ng-template>
  <ng-template #action>
    <nz-button-group>
      <button nz-button (click)="joinproject()">申请加入</button>
      <button nz-button>申请退出</button>
    </nz-button-group>
    <nz-dropdown class="mx-sm">
      <button nz-button nz-dropdown>
        <i class="anticon anticon-ellipsis"></i>
      </button>
      <ul nz-menu>
        <li nz-menu-item (click)="CreateProjectDailyReport()">发布公告</li>
        <li nz-menu-item (click)="CreateServieAddress()">添加服务地址</li>
        <li nz-menu-item (click)="CreateVersion()">添加版本</li>
        <li nz-menu-item (click)="CreateProjectModule()">添加项目模块</li>
        <li nz-menu-item (click)="CreateProjectIncome()">添加项目收入</li>
        <li nz-menu-item (click)="CreateProjectCost()">添加项目支出</li>
      </ul>
    </nz-dropdown>
    <button acl [acl-ability]="'Pages.Tenant.TaskSystem.ProjectMain.Create'" nz-button [nzType]="'primary'" (click)="addTask()">+任务</button>
    <button acl [acl-ability]="'Pages.Tenant.TaskSystem.ProjectTaskDefect.Create'" nz-button [nzType]="'primary'" (click)="addDefect()">+Bug</button>
  </ng-template>
  <ng-template #extra>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey">状态</p>
        <p class="text-lg">待审批??</p>
      </div>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey">金额(单位：元)</p>
        <p class="text-lg">¥ ??</p>
      </div>
    </div>
  </ng-template>
  <ng-template #tab>
    <nz-tabset>
      <nz-tab nzTitle="项目详情">
        <!--content of this tab will be moved to a component later-->
        <nz-card [nzBordered]="false" class="mb-lg" nzTitle="流程进度">
          <nz-steps [nzCurrent]="1" nzProgressDot>
            <nz-step [nzTitle]="'创建项目'" [nzDescription]="createDesc">
              <ng-template #createDesc>
                <div class="desc">
                  <div class="my-sm">??
                    <i class="anticon anticon-dingding-o ml-sm"></i>
                  </div>
                  <div>??</div>
                </div>
              </ng-template>
            </nz-step>
            <nz-step [nzTitle]="'部门初审'" [nzDescription]="checkedDesc">
              <ng-template #checkedDesc>
                <div class="desc">
                  <div class="my-sm">??
                    <i class="anticon anticon-dingding-o ml-sm" style="color: #00a0e9;"></i>
                  </div>
                  <a (click)="msg.success('click')">催一下</a>
                </div>
              </ng-template>
            </nz-step>
            <nz-step [nzTitle]="'产品研发'"></nz-step>
            <nz-step [nzTitle]="'产品测试'"></nz-step>
            <nz-step [nzTitle]="'产品运营'"></nz-step>
            <nz-step [nzTitle]="'完成'"></nz-step>
          </nz-steps>
          <div class="steps-content"></div>
        </nz-card>        
      </nz-tab>
      <nz-tab nzTitle="项目资产策略">
        <prj-asset-strategy></prj-asset-strategy>
      </nz-tab>
      <nz-tab nzTitle="项目参与人">
        <prj-participant></prj-participant>
      </nz-tab>
      <nz-tab nzTitle="项目公告">
        <prj-daily-report></prj-daily-report>
      </nz-tab>
      <nz-tab nzTitle="项目服务地址">
        <prj-service-address></prj-service-address>
      </nz-tab>
      <nz-tab nzTitle="项目版本">
        <prj-version></prj-version>
      </nz-tab>
      <nz-tab nzTitle="项目模块">
        <prj-module></prj-module>
      </nz-tab>
      <nz-tab nzTitle="项目收入">
        <prj-income></prj-income>
      </nz-tab>
      <nz-tab nzTitle="项目支出">
        <prj-cost></prj-cost>
      </nz-tab>
    </nz-tabset>
  </ng-template>
  <sv-container size="small" col="2">
    <sv label="创建人">??</sv>
    <sv label="当前版本">??</sv>
    <sv label="创建时间">??</sv>
    <sv label="关联项目">
      <a (click)="msg.success('yes')">??</a>
    </sv>
    <sv label="生效日期">?? ~ ??</sv>
    <sv label="备注">??</sv>
  </sv-container>
</page-header>